<div class="container">
    <div class="span3 well">
        <center>
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal">
                <img src="<%= candidat.picPath %>" name="aboutme"
                    width="140" height="140" class="img-circle">
            </a>
            <h3>
                <%= candidat.firstname %>
                    <%= candidat.lastname %>
            </h3>
            <em>En savoir plus</em>
        </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <%= candidat.username %>
                    </h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img src="<%= candidat.picPath %>" name="aboutme"
                            width="140" height="140" border="0" class="img-circle">
                        </a>
                        <h3 class="media-heading">
                            <%= candidat.firstname %>
                                <%= candidat.lastname %>
                        </h3>
                        <span>
                            <strong>Compétence(s) recherchée(s): </strong>
                        </span>
                        <% candidat.category.forEach(skill => {  %>
                            <span class="label label-warning">
                                <%= skill %> / </span>
                            <% }) %>
                    </center>
                    <hr>
                    <center>
                        <p class="text-left">
                            <strong>Bio: </strong>
                            <br>
                            <%= candidat.description %>
                        </p>
                        <br>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <% if(user.role === "coach") { %>
            <center>
                <form action="/candidat/<%= candidat.id %>" method="POST">
                    <button class="btn btn-default">Envoyer une requête au candidat</button>
                </form>
            </center>
    <% } %>
    <% if(user.role === "candidat") { %>
    <h4>Liste des reqûetes coach</h4>
        <% coach.forEach(coachh => { %>
           <p><%= coachh.firstname %> <%= coachh.firstname %> - <%= coachh.firstname %> - status : <%= matched.status%></p>
        <% }) %>

    <% } %>
</div>
