<div class="container">
    <div class="span3 well">
        <center>
            <a href="#aboutModal" data-toggle="modal" data-target="#myModal">
                <img src="<%= coach.picPath %>" name="aboutme"
                    width="140" height="140" class="img-circle">
            </a>
            <h3>
                <%= coach.firstname %>
                    <%= coach.lastname %>
            </h3>
            <em>En savoir plus</em>
        </center>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <%= coach.username %>
                    </h4>
                </div>
                <div class="modal-body">
                    <center>
                        <img src="<%= coach.picPath %>" name="aboutme"
                            width="140" height="140" border="0" class="img-circle">
                        </a>
                        <h3 class="media-heading">
                            <%= coach.firstname %>
                                <%= coach.lastname %>
                        </h3>
                        <span>
                            <strong>Compétence(s) : </strong>
                        </span>
                        <% coach.category.forEach(skill => {  %>
                            <span class="label label-warning">
                                <%= skill %> / </span>
                            <% }) %>
                    </center>
                    <hr>
                    <center>
                        <p class="text-left">
                            <strong>Bio: </strong>
                            <br>
                            <%= coach.description %>
                        </p>
                        <br>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <% if(user.role === "candidat") { %>
            <center>
                <form action="/coach/<%= coach.id %>" method="POST">
                    <button class="btn btn-default">Send a request to coach</button>
                </form>
            </center>
    <% } %>
    <% if(user.role === "coach") { %>
    <h4>Liste des reqûetes candidat</h4>
        <% candidats.forEach(candidate => { %>
           <p><%= candidate.firstname %> <%= candidate.firstname %> - <%= candidate.firstname %> - status : <%= matched.status%></p>
        <% }) %>

    <% } %>
</div>
